body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #7a43c6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar .profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

.sidebar nav ul li {
    width: 100%;
}

.sidebar nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: background 0.3s;
}

.sidebar nav ul li a:hover {
    background-color: #7a43c6;
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    background: url('') no-repeat center center;
    background-size: cover;

}

.main-content h1 {
    font-size: 36px;
    margin: 0;
    color: white;
}

.main-content h1 span {
    display: inline-block;
    animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.main-content p {
    font-size: 18px;
    margin: 20px 0;
}

.links {
    margin: 20px 0;
}

.links a img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.links a img:hover {
    transform: scale(1.1);
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #7a43c6;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.buttons button:hover {
    background-color: #7a43c6;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
}

.button-container {
    display: flex;
    gap: 20px;
}



.glow-on-hover {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    text-align: center;
    color: #fff;
    background-color: #40727f;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    transition: background 0.3s ease;
}

.glow-on-hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255,0,150,0.7), rgba(0,204,255,0.7));
    opacity: 0;
    border-radius: 8px;
    transition: opacity 0.3s ease;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:hover {
    background-color: #444;
}

